# Pandas Tips: `query()`

In [1]:
import pandas as pd

Check your pandas version to ensure similar behavior. 

_Version 2.1.1 was released September 2023._

In [2]:
pd.__version__

'2.1.1'

### Create data

In [3]:
df = pd.DataFrame(
    data={
        'height': [2, 4, 3, 8],
        'width': [2, 2, 5, 8],
        'weight (g)': [20, 105, 75, 200]
    }
)

In [4]:
df

   height  width  weight (g)
0       2      2          20
1       4      2         105
2       3      5          75
3       8      8         200

## Basics

### Mask vs .query()

Find objects where height is greater than width.

In [5]:
df.height > df.width

0    False
1     True
2    False
3    False
dtype: bool

In [6]:
df[df.height > df.width]

   height  width  weight (g)
1       4      2         105

In [7]:
df.query('height > width')

   height  width  weight (g)
1       4      2         105

Find objects where the height and width are the same.

In [8]:
df.height == df.width

0     True
1    False
2    False
3     True
dtype: bool

In [9]:
df[df.height == df.width]

   height  width  weight (g)
0       2      2          20
3       8      8         200

In [10]:
df.query('height == width')

   height  width  weight (g)
0       2      2          20
3       8      8         200

### Columns with spaces, `

In [11]:
df

   height  width  weight (g)
0       2      2          20
1       4      2         105
2       3      5          75
3       8      8         200

In [12]:
df.query('`weight (g)` > 50') #use backticks for columns with spaces

   height  width  weight (g)
1       4      2         105
2       3      5          75
3       8      8         200

## $\star$ Level Up $\star$

### Reference variables or calculations, `@`

In [13]:
df

   height  width  weight (g)
0       2      2          20
1       4      2         105
2       3      5          75
3       8      8         200

In [14]:
avg_width = df.width.mean()

avg_width

4.25

In [15]:
df[df.width > avg_width]

   height  width  weight (g)
2       3      5          75
3       8      8         200

In [16]:
df.query('width > @avg_width')  #use @ symbol to reference variables

   height  width  weight (g)
2       3      5          75
3       8      8         200

In [17]:
df.query('width > @df.width.mean()')  #use @ symbol to reference calculations

   height  width  weight (g)
2       3      5          75
3       8      8         200

### Multiple Requirements, `&` and `|`

Find rows where height is at least 3 and weight is at least 100 grams.

In [18]:
df

   height  width  weight (g)
0       2      2          20
1       4      2         105
2       3      5          75
3       8      8         200

In [19]:
df.height >= 3

0    False
1     True
2     True
3     True
Name: height, dtype: bool

In [20]:
df['weight (g)'] >= 100

0    False
1     True
2    False
3     True
Name: weight (g), dtype: bool

In [21]:
df[(df.height >= 3) & (df['weight (g)'] >= 100)]

   height  width  weight (g)
1       4      2         105
3       8      8         200

In [22]:
df.query('height >= 3 & `weight (g)` >= 100')

   height  width  weight (g)
1       4      2         105
3       8      8         200

Find rows with height OR width less than 4.

In [23]:
df.query('height < 4 | width < 4')

   height  width  weight (g)
0       2      2          20
1       4      2         105
2       3      5          75

### Make permanent changes, `inplace`

In [24]:
df

   height  width  weight (g)
0       2      2          20
1       4      2         105
2       3      5          75
3       8      8         200

In [25]:
df.query('height < 4', inplace=True)

In [26]:
df

   height  width  weight (g)
0       2      2          20
2       3      5          75